.content-update {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    min-height: 80vh;
}

.profileUpdate-kontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    height: 1000px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    gap: 20px;
}

.profileUpdate-img img{
    display: flex;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 10px; 

}

.profileUpdate-img svg {
    position: relative;
    top: -48px;
    left: 296px;
    color: blue;
    font-size: 57px;
}

label,input  {
    font-size: 25px;
    border-radius: 15px;
    padding: 5px;
}


.form-updateProfile {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    align-content: flex-start;
}

.buttons-update{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.buttons-save {
    font-size: 25px;
    background-color: green;
    border-radius: 10px;
    padding: 10px;
    color: white;
}


.buttons-delete {
    font-size: 25px;
    background-color: red;
    border-radius: 10px;
    padding: 10px;
    color: white;
}