



.search-section {
    padding: 50px 0;
    min-height: 80vh;
}

.title-search {
    display: flex;
    justify-content: center;
}

 /* Search style */

.input-search {
    display: flex;
    justify-content: center;
}


 /* Search style kraj */


.content-search {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap: 20px;
    margin: 40px 30px;
}


.searchallmovies-card {
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }

  .searchcards-img {
    border-radius: 20px;
    height: 400px;
    cursor: pointer;
  }

  .searchcard-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    gap: 10px;
  }

  .searchmovie-name {
    font-size: 20px;
  }

  .searchmovie-rating {
    font-size: 20px;
  }

  
  .searchicon-favorit {
    font-size: 20px;
  }

  .searchadd-watchlist {
    background: linear-gradient(to bottom, #12a2b5 5%, #378591 100%);
    background-color: #12a2b5;
    border-radius: 20px;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
  }

  .searchadd-watchlist:hover {
	background:linear-gradient(to bottom, #378591 5%, #12a2b5 100%);
	background-color:#378591;
  }

  .searchadd-watchlist:active {
	position:relative;
	top:2px;
  }