

/* movie details id */
  

.over-poster {
    position: relative;
  }
  
  .object-cover {
    width: 100%;
    height: 100%;
    display: block;
  }
  
  
  .movie__backdrop {
      -webkit-mask-image: linear-gradient(180deg,#000,transparent);
      position: relative;
      background-size: cover;
      background-position: center top;
      background-attachment: fixed;
  }
  
  
  
  .moviedetails {
    display: flex;
    left: 200px;
    flex-direction: row;
    align-items: flex-start;
    bottom: 100px;
    position: relative;
    gap: 20px;
    width: 70%;
    margin: 0px 40px;
  }
  
  .moviedetails-left {
    margin-right: 30px;
  }
  
  
  .movie-poster {
    border-radius: 10px;
      box-shadow: 0 22px 40px 6px rgba(0,0,0,.86);
      margin-right: auto;
      width: 400px;
      height: 500px;
  }
  
  
  .moviedetails-right {
    display: flex;
    flex-direction: column;
    height: 450px;
    justify-content: space-between;
  }
  
  .detailsright-top {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 10px;
  }
  
  .facts {
  display: flex;
  gap:  20px;
  padding: 0.3rem;
  }
  
  
  .movie-genres {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .movie-genre {
      border: 1px solid #000000;
      background-color: yellowgreen;
      border-radius: 20px;
      min-width: 10px;
      padding: 0.3rem;
  }
  
  .lista {
    display: flex;
    gap:  20px;
  }
  
  .favorite {
    border: 1px solid black;
    padding: 5px;
  }
  
  .watchlist {
    border: 1px solid black;
    padding: 5px;
  }
  
  .detailsright-bottom {
    padding-top: 40px;
  }
  

  /* actors */

  .actors {
    margin: 30px 40px;
  }


  .actors-content {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 20px;
  }

  .actors-card {
    min-height: 550px;
    max-width: 269px;
    border-radius: 20px;
    border: 1px solid black
  }

  .actors-img {
  border-radius: 20px;
  height: 400px;
  max-width: 269px;
  cursor: pointer;
  }

  .actors-botton-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 20px;
  }

  .actors-name {
    font-size: 20px;
  }

  .actors-character {
    font-size: 20px;
  }







/* Recommendations */



.recommendations {
  margin: 30px 40px;
}

.recommendations-content {
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 20px;
}

.recommendations-card {
  min-height: 550px;
  max-width: 269px;
  border-radius: 20px;
  border: 1px solid black;
}



.recommendationscards-img {
  border-radius: 20px;
  height: 400px;
  cursor: pointer;
}

.recommendations-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  gap: 10px;
}

.recommendations-movie-rating {
  font-size: 20px;
}

.recommendations-movie-rating {
  font-size: 20px;
}

.recommendations-icon-favorit {
  font-size: 20px;
}

.recommendations-add-watchlist {
  background:linear-gradient(to bottom, #12a2b5 5%, #378591 100%);
  background-color:#12a2b5;
  border-radius:20px;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  text-decoration:none;
}

.recommendations-add-watchlist:hover {
  background:linear-gradient(to bottom, #378591 5%, #12a2b5 100%);
  background-color:#378591;
} 

.recommendations-add-watchlist:active {
  position:relative;
  top:1px;
}

/* responsive kod */


   @media  screen and (max-width: 900px) {
    .moviedetails {
      display: flex;
      flex-direction: column;
      /* left: 200px; */
      /* align-items: flex-start; */
      bottom: 100px;
      /* position: relative; */
      gap: 20px;
      /* width: 70%; */
      /* margin: 0px 40px; */
    }
  }
  