


/* registering */


.registering-section {
    margin: 20px;
    padding: 50px 0;
    border: 1px solid black;
  }
  
  .title-registering {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }
  
  .card-registering {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid black;
    padding: 20px;
    gap: 20px;
  }
  
  .lef-registering {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px;
    font-size: 20px;
    gap: 20px;
  }

  .form-registering {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }

  .login {
    width: 100%;
  }

  .divider-text {
    text-align: center;
  }
  
  
  .right-registering {
    border: 1px solid black;
    padding: 20px;
  }
  
  .create-acc {
    border: 1px solid black;
    padding: 10px;
  }