
.cr-acc {
    margin: 20px;
    padding: 50px 0;
    border: 1px solid black;
    min-height: 80vh;
}

.title-account {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.content-accountcard {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    flex-direction: column;

}


.account-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid black;
    padding: 20px;
    width: 500px;
    border-radius: 10px;
}

.singIn {
    display: flex;
    align-items: center;
    font-size: 25px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.arow-singin {
    font-size: 20px;
}


.create-accBtn {
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    background-color: rgb(232, 238, 65);
    border-radius: 20px;
}



/* text validation */
.username-sucCr, .email-sucCr, .passw-sucCr {
    display: none;
    padding: 2px;
    background-color: yellowgreen;
    font-size: 25px;
    border-radius: 20px;
    color: white;
    text-align: center;
  }

  .username-errorCr, .email-errorCr, .passw-errorCr {
    display: none;
    padding: 2px;
    background-color: red;
    font-size: 25px;
    border-radius: 20px;
    color: white;
    text-align: center;
  }


